<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Type Submit</title>
</head>
<body>

<header>

</header>


<select name="wdl" form="display">
  {{range $key, $value := .Choice}}
  <option value={{$value}}>{{$value}}</option>
  {{end}}
</select>

<form method="GET" id="display">
  WDL Script:<br>
  <textarea name="body" rows="30" cols="100">
    {{.WDL}}
  </textarea>
  <br>
  Hash:<br>
  <text name="hash">
    {{.Hash}}
  </text>
  <br>
  Check JSON File Hash:<br>
  <text name="hash_from_file">
    {{.HashFromFile}}
  </text>
  <br>

  <input type="submit"/>
</form>

</body>
</html>
