*{
  box-sizing: border-box;
}


body{
  background:#213f5b;
  color:#4e78ad;
  line-height:1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:1em;
}


.wrapper{

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;

  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
  padding:1em;

}

.box1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.box2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.box3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.alert{
  text-align: center;
  padding:10px;
  background:#79c879;
  color:#fff;
  margin-bottom:10px;
  display:none;
}

/* LARGE SCREENS */
@media(min-width:700px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .wrapper > *{
    padding:2em;
  }

}
